.label-buscar {
  color: #b31237;
  font-weight: 500;
  font-size: 18px;
}

.btn-buscarFactura {
  color: #fff !important;
  background-color: #ff8826 !important;
  border: none !important;
}

.btn-editar {
  background-color: #ffb914;
  color: #ffff;
  padding: 8px;
  width: 19%;
  border-radius: 8px;
}

.btn-delete {
  background-color: #f03813;
  color: #ffff;
  padding: 8px;
  width: 19%;
  border-radius: 8px;
}

.btn-detalles {
  background-color: #2c9fa3;
  color: #ffff;
  padding: 8px;
  width: 19%;
  border-radius: 8px;
}
.estadoF {
  color: #2c9fa3;
}
